.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.form h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #33333362;
}

.form-items{
    margin: 20px;
    text-align: center;
}